.p-r-0, .p-x-0 {
    padding-right: 0 !important
}

.p-l-0, .p-x-0 {
    padding-left: 0 !important
}

.p-t-0, .p-y-0 {
    padding-top: 0 !important
}

.p-b-0, .p-y-0 {
    padding-bottom: 0 !important
}

.bg-color, .bg-color a, .bg-color a:focus, .bg-color a:hover, .bg-danger, .bg-dark, .bg-grad, .bg-grad a, .bg-grad a:focus, .bg-grad a:hover, .bg-info, .bg-primary, .bg-success, .bg-warning {
    color: #fff !important
}

.pos-r {
    position: relative !important
}

.pos-a {
    position: absolute !important
}

.pos-f {
    position: fixed !important
}

.borderless {
    border-width: 0 !important
}

.over-a-hide {
    overflow: hidden !important
}

.bordered {
    border: 1px solid #e1e8ed
}

.bg-fixed {
    background-attachment: fixed !important
}

.f-s-xl {
    font-size: 48px
}

.f-s-lg {
    font-size: 30px
}

.f-s-md {
    font-size: 24px
}

.f-s-sm {
    font-size: 18px
}

.f-s-xs {
    font-size: 16px
}

.f-w-300 {
    font-weight: 300 !important
}

.f-w-400 {
    font-weight: 400 !important
}

.f-w-500 {
    font-weight: 500 !important
}

.f-w-600 {
    font-weight: 600 !important
}

.f-w-700 {
    font-weight: 700 !important
}

.f-w-900 {
    font-weight: 900 !important
}

.f-w-normal {
    font-weight: 400 !important
}

.f-l-15 {
    letter-spacing: 1.5px !important
}

.f-l-normal {
    letter-spacing: normal !important
}

.b-r-0 {
    border-radius: 0 !important
}

.b-r-a {
    border-radius: 4px !important
}

.w-sm {
    width: 25% !important
}

.w-md {
    width: 50% !important
}

.w-lg {
    width: 75% !important
}

.w-full {
    width: 100% !important
}

.m-a-0 {
    margin: 0 !important
}

.m-t-0 {
    margin-top: 0 !important
}

.m-t, .m-y {
    margin-top: 10px !important
}

.m-r-0 {
    margin-right: 0 !important
}

.m-r, .m-x {
    margin-right: 10px !important
}

.m-b-0 {
    margin-bottom: 0 !important
}

.m-b, .m-y {
    margin-bottom: 10px !important
}

.m-l-0 {
    margin-left: 0 !important
}

.m-l, .m-x {
    margin-left: 10px !important
}

.m-a {
    margin: 10px !important
}

.m-t-xs, .m-y-xs {
    margin-top: 5px !important
}

.m-b-xs, .m-y-xs {
    margin-bottom: 5px !important
}

.m-x-auto {
    margin-right: auto !important;
    margin-left: auto !important
}

.m-r-xs, .m-x-xs {
    margin-right: 5px !important
}

.m-l-xs, .m-x-xs {
    margin-left: 5px !important
}

.m-a-xs {
    margin: 5px !important
}

.m-r-md, .m-x-md {
    margin-right: 20px !important
}

.m-l-md, .m-x-md {
    margin-left: 20px !important
}

.m-t-md, .m-y-md {
    margin-top: 20px !important
}

.m-b-md, .m-y-md {
    margin-bottom: 20px !important
}

.m-a-md {
    margin: 20px !important
}

.m-r-lg, .m-x-lg {
    margin-right: 30px !important
}

.m-l-lg, .m-x-lg {
    margin-left: 30px !important
}

.m-t-lg, .m-y-lg {
    margin-top: 30px !important
}

.m-b-lg, .m-y-lg {
    margin-bottom: 30px !important
}

.m-a-lg {
    margin: 30px !important
}

.p-a-0 {
    padding: 0 !important
}

.p-r, .p-x {
    padding-right: 10px !important
}

.p-l, .p-x {
    padding-left: 10px !important
}

.p-t, .p-y {
    padding-top: 10px !important
}

.p-b, .p-y {
    padding-bottom: 10px !important
}

.p-a {
    padding: 10px !important
}

.p-r-xs, .p-x-xs {
    padding-right: 5px !important
}

.p-l-xs, .p-x-xs {
    padding-left: 5px !important
}

.p-t-xs, .p-y-xs {
    padding-top: 5px !important
}

.p-b-xs, .p-y-xs {
    padding-bottom: 5px !important
}

.p-a-xs {
    padding: 5px !important
}

.p-r-md, .p-x-md {
    padding-right: 20px !important
}

.p-l-md, .p-x-md {
    padding-left: 20px !important
}

.p-t-md, .p-y-md {
    padding-top: 20px !important
}

.p-b-md, .p-y-md {
    padding-bottom: 20px !important
}

.p-a-md {
    padding: 20px !important
}

.p-r-lg, .p-x-lg {
    padding-right: 30px !important
}

.p-l-lg, .p-x-lg {
    padding-left: 30px !important
}

.p-t-lg, .p-y-lg {
    padding-top: 30px !important
}

.p-b-lg, .p-y-lg {
    padding-bottom: 30px !important
}

.p-a-lg {
    padding: 30px !important
}

.padding-box-login {
    padding: 15px !important
}

.bg-primary {
    background: #4a89dc !important
}

.bg-success {
    background: #81c784 !important
}

.bg-info {
    background: #4fc3f7 !important
}

.bg-warning {
    background: #f6bb42 !important
}

.bg-danger {
    background: #ef5350 !important
}

.bg-dark {
    background: #2e313d !important
}

.bg-transparent {
    background: 0 0 !important
}

.bg-light-gray {
    background: #f4f4f4 !important
}

.bg-lightest-gray {
    background: #fafafa !important
}

.bg-white {
    background: #fff !important
}

.bg-lighten {
    background: rgba(255, 255, 255, .4) !important
}

.bg-lightest {
    background: rgba(255, 255, 255, .2) !important
}

.bg-darken-light {
    background: rgba(0, 0, 0, .05) !important
}

.bg-darken {
    background: rgba(0, 0, 0, .15) !important
}

.bg-darkest {
    background: rgba(0, 0, 0, .3) !important
}

.bg-grad-01 {
    background: #6190e8 !important;
    background: -moz-linear-gradient(45deg, #6190e8 0, #a7bfe8 100%) !important;
    background: -webkit-linear-gradient(45deg, #6190e8 0, #a7bfe8 100%) !important;
    background: linear-gradient(45deg, #6190e8 0, #a7bfe8 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6190e8', endColorstr='#a7bfe8', GradientType=1) !important
}

.bg-grad-02 {
    background: #43c6ac !important;
    background: -moz-linear-gradient(45deg, #43c6ac 0, #f8ffae 100%) !important;
    background: -webkit-linear-gradient(45deg, #43c6ac 0, #f8ffae 100%) !important;
    background: linear-gradient(45deg, #43c6ac 0, #f8ffae 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#43c6ac', endColorstr='#f8ffae', GradientType=1) !important
}

.bg-grad-03 {
    background: #67b26f !important;
    background: -moz-linear-gradient(45deg, #67b26f 0, #4ca2cd 100%) !important;
    background: -webkit-linear-gradient(45deg, #67b26f 0, #4ca2cd 100%) !important;
    background: linear-gradient(45deg, #67b26f 0, #4ca2cd 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67b26f', endColorstr='#4ca2cd', GradientType=1) !important
}

.bg-grad-04 {
    background: #be93c5 !important;
    background: -moz-linear-gradient(45deg, #be93c5 0, #7bc6cc 100%) !important;
    background: -webkit-linear-gradient(45deg, #be93c5 0, #7bc6cc 100%) !important;
    background: linear-gradient(45deg, #be93c5 0, #7bc6cc 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#be93c5', endColorstr='#7bc6cc', GradientType=1) !important
}

.bg-grad-05 {
    background: #fd746c !important;
    background: -moz-linear-gradient(45deg, #fd746c 0, #ff9068 100%) !important;
    background: -webkit-linear-gradient(45deg, #fd746c 0, #ff9068 100%) !important;
    background: linear-gradient(45deg, #fd746c 0, #ff9068 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fd746c', endColorstr='#ff9068', GradientType=1) !important
}

.bg-grad-06 {
    background: #c2e59c !important;
    background: -moz-linear-gradient(45deg, #c2e59c 0, #64b3f4 100%) !important;
    background: -webkit-linear-gradient(45deg, #c2e59c 0, #64b3f4 100%) !important;
    background: linear-gradient(45deg, #c2e59c 0, #64b3f4 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c2e59c', endColorstr='#64b3f4', GradientType=1) !important
}

.bg-grad-07 {
    background: #43cea2 !important;
    background: -moz-linear-gradient(45deg, #43cea2 0, #185a9d 100%) !important;
    background: -webkit-linear-gradient(45deg, #43cea2 0, #185a9d 100%) !important;
    background: linear-gradient(45deg, #43cea2 0, #185a9d 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#43cea2', endColorstr='#185a9d', GradientType=1) !important
}

.bg-grad-08 {
    background: #83a4d4 !important;
    background: -moz-linear-gradient(45deg, #83a4d4 0, #b6fbff 100%) !important;
    background: -webkit-linear-gradient(45deg, #83a4d4 0, #b6fbff 100%) !important;
    background: linear-gradient(45deg, #83a4d4 0, #b6fbff 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#83a4d4', endColorstr='#b6fbff', GradientType=1) !important
}

.bg-grad-09 {
    background: #70e1f5 !important;
    background: -moz-linear-gradient(45deg, #70e1f5 0, #ffd194 100%) !important;
    background: -webkit-linear-gradient(45deg, #70e1f5 0, #ffd194 100%) !important;
    background: linear-gradient(45deg, #70e1f5 0, #ffd194 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70e1f5', endColorstr='#ffd194', GradientType=1) !important
}

.bg-grad-10 {
    background: #c9ffbf !important;
    background: -moz-linear-gradient(45deg, #c9ffbf 0, #ffafbd 100%) !important;
    background: -webkit-linear-gradient(45deg, #c9ffbf 0, #ffafbd 100%) !important;
    background: linear-gradient(45deg, #c9ffbf 0, #ffafbd 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9ffbf', endColorstr='#ffafbd', GradientType=1) !important
}

.bg-grad-11 {
    background: #dad299 !important;
    background: -moz-linear-gradient(45deg, #dad299 0, #b0dab9 100%) !important;
    background: -webkit-linear-gradient(45deg, #dad299 0, #b0dab9 100%) !important;
    background: linear-gradient(45deg, #dad299 0, #b0dab9 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dad299', endColorstr='#b0dab9', GradientType=1) !important
}

.bg-grad-12 {
    background: #7474bf !important;
    background: -moz-linear-gradient(45deg, #7474bf 0, #348ac7 100%) !important;
    background: -webkit-linear-gradient(45deg, #7474bf 0, #348ac7 100%) !important;
    background: linear-gradient(45deg, #7474bf 0, #348ac7 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7474bf', endColorstr='#348ac7', GradientType=1) !important
}

.bg-grad-13 {
    background: #f15f79 !important;
    background: -moz-linear-gradient(45deg, #f15f79 0, #b24592 100%) !important;
    background: -webkit-linear-gradient(45deg, #f15f79 0, #b24592 100%) !important;
    background: linear-gradient(45deg, #f15f79 0, #b24592 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f15f79', endColorstr='#b24592', GradientType=1) !important
}

.bg-grad-14 {
    background: #457fca !important;
    background: -moz-linear-gradient(45deg, #457fca 0, #5691c8 100%) !important;
    background: -webkit-linear-gradient(45deg, #457fca 0, #5691c8 100%) !important;
    background: linear-gradient(45deg, #457fca 0, #5691c8 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#457fca', endColorstr='#5691c8', GradientType=1) !important
}

.bg-grad-15 {
    background: #4776e6 !important;
    background: -moz-linear-gradient(45deg, #4776e6 0, #8e54e9 100%) !important;
    background: -webkit-linear-gradient(45deg, #4776e6 0, #8e54e9 100%) !important;
    background: linear-gradient(45deg, #4776e6 0, #8e54e9 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4776e6', endColorstr='#8e54e9', GradientType=1) !important
}

.bg-grad-16 {
    background: #2c2c2c !important;
    background: -moz-linear-gradient(45deg, #2c2c2c 0, #838383 100%) !important;
    background: -webkit-linear-gradient(45deg, #2c2c2c 0, #838383 100%) !important;
    background: linear-gradient(45deg, #2c2c2c 0, #838383 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2c2c2c', endColorstr='#838383', GradientType=1) !important
}

.bg-grad-17 {
    background: #fff7f7 !important;
    background: -moz-linear-gradient(45deg, #fff7f7 0, #ffdddd 100%) !important;
    background: -webkit-linear-gradient(45deg, #fff7f7 0, #ffdddd 100%) !important;
    background: linear-gradient(45deg, #fff7f7 0, #ffdddd 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff7f7', endColorstr='#ffdddd', GradientType=1) !important
}

.bg-grad-certus {
    background: #00205B !important;
}

.login-box-sales {
    margin-top: 80px;
}

.text-muted {
    color: #888 !important
}

a.text-muted {
    color: #337ab7 !important
}

.text-primary {
    color: #4a89dc !important
}

a.text-primary:focus, a.text-primary:hover {
    color: #3078d7 !important
}

.text-success {
    color: #81c784 !important
}

a.text-success:focus, a.text-success:hover {
    color: #6cbe6f !important
}

.text-info {
    color: #4fc3f7 !important
}

a.text-info:focus, a.text-info:hover {
    color: #32b9f6 !important
}

.text-warning {
    color: #f6bb42 !important
}

a.text-warning:focus, a.text-warning:hover {
    color: #f4a911 !important
}

.text-danger {
    color: #ef5350 !important
}

a.text-danger:focus, a.text-danger:hover {
    color: #ec3734 !important
}

.text-white, a.text-white:focus, a.text-white:hover {
    color: #ffffff !important
}

.text-lighten {
    color: rgba(255, 255, 255, .5) !important
}

a.text-lighten:focus, a.text-lighten:hover {
    color: rgba(255, 255, 255, .8) !important
}

.text-darken {
    color: rgba(0, 0, 0, .3) !important
}

.text-darkest, a.text-darken:focus, a.text-darken:hover {
    color: rgba(0, 0, 0, .5) !important
}

a.text-darkest:focus, a.text-darkest:hover {
    color: rgba(0, 0, 0, .7) !important
}