.bootstrap-switch {
    display: inline-block;
    direction: ltr;
    cursor: pointer;
    border-radius: 4px;
    border: 1px solid #ccc;
    position: relative;
    text-align: left;
    overflow: hidden;
    line-height: 8px;
    z-index: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}

.bootstrap-switch .bootstrap-switch-container {
    display: inline-block;
    top: 0;
    border-radius: 4px;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

.bootstrap-switch .bootstrap-switch-handle-off, .bootstrap-switch .bootstrap-switch-handle-on, .bootstrap-switch .bootstrap-switch-label {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block !important;
    height: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 20px
}

.bootstrap-switch .bootstrap-switch-handle-off, .bootstrap-switch .bootstrap-switch-handle-on {
    text-align: center;
    z-index: 1
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-primary, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
    color: #fff;
    background: #337ab7
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-info, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info {
    color: #fff;
    background: #5bc0de
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-success, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success {
    color: #fff;
    background: #5cb85c
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-warning, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning {
    background: #f0ad4e;
    color: #fff
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-danger, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger {
    color: #fff;
    background: #d9534f
}

.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-default, .bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default {
    color: #000;
    background: #eee
}

.bootstrap-switch .bootstrap-switch-label {
    text-align: center;
    margin-top: -1px;
    margin-bottom: -1px;
    z-index: 100;
    color: #333;
    background: #fff
}

.bootstrap-switch .bootstrap-switch-handle-on {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px
}

.bootstrap-switch .bootstrap-switch-handle-off {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px
}

.bootstrap-switch input[type=checkbox], .bootstrap-switch input[type=radio] {
    position: absolute !important;
    top: 0;
    left: 0;
    margin: 0;
    z-index: -1;
    opacity: 0;
    filter: alpha(opacity=0)
}

.bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-mini .bootstrap-switch-label {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5
}

.bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-small .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-small .bootstrap-switch-label {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5
}

.bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-large .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-large .bootstrap-switch-label {
    padding: 6px 16px;
    font-size: 18px;
    line-height: 1.3333333
}

.bootstrap-switch.bootstrap-switch-disabled, .bootstrap-switch.bootstrap-switch-indeterminate, .bootstrap-switch.bootstrap-switch-readonly {
    cursor: default !important
}

.bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-disabled .bootstrap-switch-label, .bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-indeterminate .bootstrap-switch-label, .bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-off, .bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-handle-on, .bootstrap-switch.bootstrap-switch-readonly .bootstrap-switch-label {
    opacity: .5;
    filter: alpha(opacity=50);
    cursor: default !important
}

.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
    -webkit-transition: margin-left .5s;
    -o-transition: margin-left .5s;
    transition: margin-left .5s
}

.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-on {
    border-radius: 0 3px 3px 0
}

.bootstrap-switch.bootstrap-switch-inverse .bootstrap-switch-handle-off {
    border-radius: 3px 0 0 3px
}

.bootstrap-switch.bootstrap-switch-focused {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6)
}

.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-off .bootstrap-switch-label, .bootstrap-switch.bootstrap-switch-on .bootstrap-switch-label {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px
}

.bootstrap-switch.bootstrap-switch-inverse.bootstrap-switch-on .bootstrap-switch-label, .bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px
}

table.dataTable {
    clear: both;
    margin-top: 6px !important;
    margin-bottom: 6px !important;
    max-width: none !important;
    border-collapse: separate !important
}

table.dataTable td, table.dataTable th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box
}

table.dataTable td.dataTables_empty, table.dataTable th.dataTables_empty {
    text-align: center
}

table.dataTable.nowrap td, table.dataTable.nowrap th {
    white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length label {
    font-weight: 400;
    text-align: left;
    white-space: nowrap
}

div.dataTables_wrapper div.dataTables_length select {
    width: 75px;
    display: inline-block
}

div.dataTables_wrapper div.dataTables_filter {
    text-align: right
}

div.dataTables_wrapper div.dataTables_filter label {
    font-weight: 400;
    white-space: nowrap;
    text-align: left
}

div.dataTables_wrapper div.dataTables_filter input {
    margin-left: .5em;
    display: inline-block;
    width: auto
}

div.dataTables_wrapper div.dataTables_info {
    padding-top: 8px;
    white-space: nowrap
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: right
}

div.dataTables_wrapper div.dataTables_paginate ul.pagination {
    margin: 2px 0;
    white-space: nowrap
}

div.dataTables_scrollBody table, div.dataTables_scrollHead table.dataTable {
    margin-bottom: 0 !important
}

div.dataTables_wrapper div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 1em 0
}

div.dataTables_scrollBody table, div.dataTables_scrollFoot table {
    margin-top: 0 !important;
    border-top: none
}

table.dataTable thead > tr > td.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > th.sorting_asc, table.dataTable thead > tr > th.sorting_desc {
    padding-right: 30px
}

table.dataTable thead > tr > td:active, table.dataTable thead > tr > th:active {
    outline: 0
}

table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_desc_disabled {
    cursor: pointer;
    position: relative
}

table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc_disabled:after {
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
    font-family: 'Glyphicons Halflings';
    opacity: .5
}

div.DTFC_LeftBodyWrapper table thead .sorting:after, div.DTFC_LeftBodyWrapper table thead .sorting_asc:after, div.DTFC_LeftBodyWrapper table thead .sorting_desc:after, div.DTFC_RightBodyWrapper table thead .sorting:after, div.DTFC_RightBodyWrapper table thead .sorting_asc:after, div.DTFC_RightBodyWrapper table thead .sorting_desc:after, div.dataTables_scrollBody table thead .sorting:after, div.dataTables_scrollBody table thead .sorting_asc:after, div.dataTables_scrollBody table thead .sorting_desc:after {
    display: none
}

table.dataTable thead .sorting:after {
    opacity: .2;
    content: "\e150"
}

table.dataTable thead .sorting_asc:after {
    content: "\e155"
}

table.dataTable thead .sorting_desc:after {
    content: "\e156"
}

table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc_disabled:after {
    color: #eee
}

div.dataTables_scrollBody table tbody tr:first-child td, div.dataTables_scrollBody table tbody tr:first-child th {
    border-top: none
}

table.dataTable.table-condensed > thead > tr > th {
    padding-right: 20px
}

table.dataTable.table-condensed .sorting:after, table.dataTable.table-condensed .sorting_asc:after, table.dataTable.table-condensed .sorting_desc:after {
    top: 6px;
    right: 6px
}

table.table-bordered.dataTable td, table.table-bordered.dataTable th {
    border-left-width: 0
}

table.table-bordered.dataTable td:last-child, table.table-bordered.dataTable th:last-child {
    border-right-width: 0
}

div.dataTables_scrollHead table.table-bordered, table.table-bordered.dataTable tbody td, table.table-bordered.dataTable tbody th {
    border-bottom-width: 0
}

div.table-responsive > div.dataTables_wrapper > div.row {
    margin: 0
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^=col-]:first-child {
    padding-left: 0
}

div.table-responsive > div.dataTables_wrapper > div.row > div[class^=col-]:last-child {
    padding-right: 0
}

table.DTFC_Cloned tr {
    background-color: #fff;
    margin-bottom: 0
}

div.DTFC_LeftHeadWrapper table, div.DTFC_RightHeadWrapper table {
    border-bottom: none !important;
    margin-bottom: 0 !important;
    background-color: #fff
}

div.DTFC_LeftBodyWrapper table, div.DTFC_RightBodyWrapper table {
    border-top: none;
    margin: 0 !important
}

div.DTFC_LeftBodyWrapper table tbody tr:first-child td, div.DTFC_LeftBodyWrapper table tbody tr:first-child th, div.DTFC_RightBodyWrapper table tbody tr:first-child td, div.DTFC_RightBodyWrapper table tbody tr:first-child th {
    border-top: none
}

div.DTFC_LeftFootWrapper table, div.DTFC_RightFootWrapper table {
    border-top: none;
    margin-top: 0 !important;
    background-color: #fff
}

table.dataTable.fixedHeader-floating, table.dataTable.fixedHeader-locked {
    background-color: #fff;
    margin-top: 0 !important;
    margin-bottom: 0 !important
}

table.dataTable.fixedHeader-floating {
    position: fixed !important
}

table.dataTable.fixedHeader-locked {
    position: absolute !important
}

@media print {
    table.fixedHeader-floating {
        display: none
    }
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.child, table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty, table.dataTable.dtr-inline.collapsed > tbody > tr > th.child {
    cursor: default !important
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > td.dataTables_empty:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th.child:before {
    display: none !important
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child {
    position: relative;
    padding-left: 30px;
    cursor: pointer
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    top: 9px;
    left: 4px;
    height: 14px;
    width: 14px;
    display: block;
    position: absolute;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    line-height: 14px;
    content: '+';
    background-color: #337ab7
}

table.dataTable.dtr-inline.collapsed > tbody > tr.parent > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr.parent > th:first-child:before {
    content: '-';
    background-color: #d33333
}

table.dataTable.dtr-inline.collapsed > tbody > tr.child td:before {
    display: none
}

table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child, table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child {
    padding-left: 27px
}

table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child:before {
    top: 5px;
    left: 4px;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    line-height: 14px;
    text-indent: 3px
}

table.dataTable.dtr-column > tbody > tr > td.control, table.dataTable.dtr-column > tbody > tr > th.control {
    position: relative;
    cursor: pointer
}

table.dataTable.dtr-column > tbody > tr > td.control:before, table.dataTable.dtr-column > tbody > tr > th.control:before {
    top: 50%;
    left: 50%;
    height: 16px;
    width: 16px;
    margin-top: -10px;
    margin-left: -10px;
    display: block;
    position: absolute;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    line-height: 14px;
    content: '+';
    background-color: #337ab7
}

table.dataTable.dtr-column > tbody > tr.parent td.control:before, table.dataTable.dtr-column > tbody > tr.parent th.control:before {
    content: '-';
    background-color: #d33333
}

table.dataTable > tbody > tr.child {
    padding: .5em 1em
}

table.dataTable > tbody > tr.child:hover {
    background: 0 0 !important
}

table.dataTable > tbody > tr.child ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0
}

table.dataTable > tbody > tr.child ul li {
    border-bottom: 1px solid #efefef;
    padding: .5em 0
}

table.dataTable > tbody > tr.child ul li:first-child {
    padding-top: 0
}

table.dataTable > tbody > tr.child ul li:last-child {
    border-bottom: none
}

table.dataTable > tbody > tr.child span.dtr-title {
    display: inline-block;
    min-width: 75px;
    font-weight: 700
}

div.dtr-modal {
    position: fixed;
    box-sizing: border-box;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    padding: 10em 1em
}

div.dtr-modal div.dtr-modal-display {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 50%;
    margin: auto;
    z-index: 102;
    overflow: auto;
    background-color: #f5f5f7;
    border: 1px solid #000;
    border-radius: .5em;
    box-shadow: 0 12px 30px rgba(0, 0, 0, .6)
}

div.dtr-modal div.dtr-modal-content {
    position: relative;
    padding: 1em
}

div.dtr-modal div.dtr-modal-close {
    position: absolute;
    top: 6px;
    right: 6px;
    width: 22px;
    height: 22px;
    border: 1px solid #eaeaea;
    background-color: #f9f9f9;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
    z-index: 12
}

div.dtr-modal div.dtr-modal-close:hover {
    background-color: #eaeaea
}

div.dtr-modal div.dtr-modal-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background: rgba(0, 0, 0, .6)
}

@media screen and (max-width: 767px) {
    div.dataTables_wrapper div.dataTables_filter, div.dataTables_wrapper div.dataTables_info, div.dataTables_wrapper div.dataTables_length, div.dataTables_wrapper div.dataTables_paginate {
        text-align: center
    }

    div.dtr-modal div.dtr-modal-display {
        width: 95%
    }
}

div.dtr-bs-modal table.table tr:first-child td {
    border-top: none
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
    background-color: #08C
}

table.dataTable.display tbody > tr.odd.selected, table.dataTable.display tbody > tr.odd > .selected, table.dataTable.stripe tbody > tr.odd.selected, table.dataTable.stripe tbody > tr.odd > .selected {
    background-color: #0085c7
}

table.dataTable.display tbody > tr.selected:hover, table.dataTable.display tbody > tr > .selected:hover, table.dataTable.hover tbody > tr.selected:hover, table.dataTable.hover tbody > tr > .selected:hover {
    background-color: #0083c5
}

table.dataTable.display tbody > tr.selected > .sorting_1, table.dataTable.display tbody > tr.selected > .sorting_2, table.dataTable.display tbody > tr.selected > .sorting_3, table.dataTable.display tbody > tr > .selected, table.dataTable.order-column tbody > tr.selected > .sorting_1, table.dataTable.order-column tbody > tr.selected > .sorting_2, table.dataTable.order-column tbody > tr.selected > .sorting_3, table.dataTable.order-column tbody > tr > .selected {
    background-color: #0085c8
}

table.dataTable.display tbody > tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_1 {
    background-color: #0081c1
}

table.dataTable.display tbody > tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_2 {
    background-color: #0082c2
}

table.dataTable.display tbody > tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody > tr.odd.selected > .sorting_3 {
    background-color: #0083c4
}

table.dataTable.display tbody > tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody > tr.even.selected > .sorting_1 {
    background-color: #0085c8
}

table.dataTable.display tbody > tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody > tr.even.selected > .sorting_2 {
    background-color: #0086ca
}

table.dataTable.display tbody > tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody > tr.even.selected > .sorting_3 {
    background-color: #0087cb
}

table.dataTable.display tbody > tr.odd > .selected, table.dataTable.order-column.stripe tbody > tr.odd > .selected {
    background-color: #0081c1
}

table.dataTable.display tbody > tr.even > .selected, table.dataTable.order-column.stripe tbody > tr.even > .selected {
    background-color: #0085c8
}

table.dataTable.display tbody > tr.selected:hover > .sorting_1, table.dataTable.order-column.hover tbody > tr.selected:hover > .sorting_1 {
    background-color: #007dbb
}

table.dataTable.display tbody > tr.selected:hover > .sorting_2, table.dataTable.order-column.hover tbody > tr.selected:hover > .sorting_2 {
    background-color: #007ebd
}

table.dataTable.display tbody > tr.selected:hover > .sorting_3, table.dataTable.order-column.hover tbody > tr.selected:hover > .sorting_3 {
    background-color: #007fbf
}

table.dataTable.display tbody > tr:hover > .selected, table.dataTable.display tbody > tr > .selected:hover, table.dataTable.order-column.hover tbody > tr:hover > .selected, table.dataTable.order-column.hover tbody > tr > .selected:hover {
    background-color: #007dbb
}

table.dataTable td.select-checkbox {
    position: relative
}

table.dataTable td.select-checkbox:after, table.dataTable td.select-checkbox:before {
    display: block;
    position: absolute;
    top: 1.2em;
    left: 50%;
    width: 12px;
    height: 12px;
    box-sizing: border-box
}

table.dataTable td.select-checkbox:before {
    content: ' ';
    margin-top: -6px;
    margin-left: -6px;
    border: 1px solid #000;
    border-radius: 3px
}

table.dataTable tr.selected td.select-checkbox:after {
    content: '\2714';
    margin-top: -11px;
    margin-left: -4px;
    text-align: center;
    text-shadow: 1px 1px #B0BED9, -1px -1px #B0BED9, 1px -1px #B0BED9, -1px 1px #B0BED9
}

div.dataTables_wrapper span.select-info, div.dataTables_wrapper span.select-item {
    margin-left: .5em
}

@media screen and (max-width: 640px) {
    div.dataTables_wrapper span.select-info, div.dataTables_wrapper span.select-item {
        margin-left: 0;
        display: block
    }
}

table.dataTable tbody td.selected, table.dataTable tbody th.selected, table.dataTable tbody tr.selected {
    color: #fff
}

table.dataTable tbody td.selected a, table.dataTable tbody th.selected a, table.dataTable tbody tr.selected a {
    color: #a2d4ed
}

.datepicker:after, .datepicker:before {
    content: '';
    display: inline-block;
    position: absolute
}

.datepicker {
    top: 0;
    left: 0;
    padding: 5px;
    margin-top: 2px;
    border-radius: 4px !important
}

/*.datepicker:before {
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #e1e8ed;
    border-bottom-color: #e1e8ed;
    top: -7px;
    left: 6px
}

.datepicker:after {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    top: -6px;
    left: 7px
}*/

.datepicker > div {
    display: none
}

.datepicker table {
    width: 100%;
    margin: 0
}

.datepicker td, .datepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 10px !important;
    border: 1px solid #FFF;
}

.datepicker td.day {
    color: #fff;
    background-color: #00205b;
}

.datepicker td.day:hover {
    background: #eee;
    background: #71b2e3 !important;
    color: #FFF;
    cursor: pointer
}

.datepicker td.day.disabled {
    color: #fff;
    background-color: #f3f3f3 !important;
}

.datepicker td.new {
    color: #fff;
    background-color: rgba(0, 32, 91, 0.61) !important;
}

.datepicker td.old {
    color: #fff;
    background-color: rgba(0, 32, 91, 0.61) !important;
}

.datepicker td.active, .datepicker td.active:hover {
    color: #fff;
    background: #e40046 !important;
    text-shadow: none
}

.datepicker td.active.active, .datepicker td.active.disabled, .datepicker td.active:active, .datepicker td.active:focus, .datepicker td.active:hover, .datepicker td.active:hover.active, .datepicker td.active:hover.disabled, .datepicker td.active:hover:active, .datepicker td.active:hover:focus, .datepicker td.active:hover:hover, .datepicker td.active:hover[disabled], .datepicker td.active[disabled] {
    color: #fff;
    background-color: #04c
}

.datepicker td.active.active, .datepicker td.active:active, .datepicker td.active:hover.active, .datepicker td.active:hover:active {
    background-color: #039 \9
}

.datepicker td span {
    display: block;
    width: 56px;
    height: 56px;
    line-height: 56px;
    float: left;
    margin: 1px;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #fff;
    background-color: #00205b;
}

.datepicker td span:hover {
    background: #eee;
    background: #71b2e3 !important;
}

.datepicker td span.active {
    color: #fff;
    background: #e40046 !important;
    text-shadow: none
}

.datepicker td span.active.active, .datepicker td span.active.disabled, .datepicker td span.active:active, .datepicker td span.active:focus, .datepicker td span.active:hover, .datepicker td span.active[disabled] {
    color: #fff;
    background-color: #04c
}

.datepicker td span.active.active, .datepicker td span.active:active {
    background-color: #039 \9
}

.datepicker td span.old {
    color: #999
}

/*agregado*/
.datepicker td span.disabled {
    color: #fff;
    background-color: #f3f3f3 !important;

}

.datepicker th.switch {
    width: 145px
}

.datepicker th.next, .datepicker th.prev {
    font-size: 21px
}

.datepicker thead tr:first-child th {
    cursor: pointer
}

.datepicker thead tr:first-child th:hover {
    background: #eee
}

.input-append.date .add-on i, .input-prepend.date .add-on i {
    display: block;
    cursor: pointer;
    width: 16px;
    height: 16px
}

.medium-editor-anchor-preview, .medium-editor-toolbar {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    z-index: 2000
}

@-webkit-keyframes medium-editor-image-loading {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes medium-editor-image-loading {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes medium-editor-pop-upwards {
    0% {
        opacity: 0;
        -webkit-transform: matrix(.97, 0, 0, 1, 0, 12);
        transform: matrix(.97, 0, 0, 1, 0, 12)
    }
    20% {
        opacity: .7;
        -webkit-transform: matrix(.99, 0, 0, 1, 0, 2);
        transform: matrix(.99, 0, 0, 1, 0, 2)
    }
    40% {
        opacity: 1;
        -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
        transform: matrix(1, 0, 0, 1, 0, -1)
    }
    100% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
}

@keyframes medium-editor-pop-upwards {
    0% {
        opacity: 0;
        -webkit-transform: matrix(.97, 0, 0, 1, 0, 12);
        transform: matrix(.97, 0, 0, 1, 0, 12)
    }
    20% {
        opacity: .7;
        -webkit-transform: matrix(.99, 0, 0, 1, 0, 2);
        transform: matrix(.99, 0, 0, 1, 0, 2)
    }
    40% {
        opacity: 1;
        -webkit-transform: matrix(1, 0, 0, 1, 0, -1);
        transform: matrix(1, 0, 0, 1, 0, -1)
    }
    100% {
        -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
        transform: matrix(1, 0, 0, 1, 0, 0)
    }
}

.medium-editor-anchor-preview {
    left: 0;
    line-height: 1.4;
    max-width: 280px;
    position: absolute;
    text-align: center;
    top: 0;
    word-break: break-all;
    word-wrap: break-word;
    visibility: hidden
}

.medium-editor-anchor-preview a {
    color: #fff;
    display: inline-block;
    margin: 5px 5px 10px
}

.medium-editor-placeholder-relative:after, .medium-editor-placeholder:after {
    content: attr(data-placeholder) !important;
    white-space: pre;
    padding: inherit;
    margin: inherit;
    font-style: italic
}

.medium-editor-anchor-preview-active {
    visibility: visible
}

.medium-editor-dragover {
    background: #ddd
}

.medium-editor-image-loading {
    -webkit-animation: medium-editor-image-loading 1s infinite ease-in-out;
    animation: medium-editor-image-loading 1s infinite ease-in-out;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    height: 40px;
    width: 40px
}

.medium-editor-placeholder {
    position: relative
}

.medium-editor-placeholder:after {
    position: absolute;
    left: 0;
    top: 0
}

.medium-editor-placeholder-relative, .medium-editor-placeholder-relative:after {
    position: relative
}

.medium-toolbar-arrow-over:before, .medium-toolbar-arrow-under:after {
    border-style: solid;
    content: '';
    display: block;
    height: 0;
    left: 50%;
    margin-left: -8px;
    position: absolute;
    width: 0
}

.medium-toolbar-arrow-under:after {
    border-width: 8px 8px 0
}

.medium-toolbar-arrow-over:before {
    border-width: 0 8px 8px;
    top: -8px
}

.medium-editor-toolbar {
    left: 0;
    position: absolute;
    top: 0;
    visibility: hidden
}

.medium-editor-toolbar ul {
    margin: 0;
    padding: 0
}

.medium-editor-toolbar li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0
}

.medium-editor-toolbar li button {
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 1.33;
    margin: 0;
    padding: 15px;
    text-decoration: none
}

.medium-editor-toolbar li button:focus {
    outline: 0
}

.medium-editor-toolbar li .medium-editor-action-underline {
    text-decoration: underline
}

.medium-editor-toolbar li .medium-editor-action-pre {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    font-weight: 100;
    padding: 15px 0
}

.medium-editor-toolbar-active {
    visibility: visible
}

.medium-editor-sticky-toolbar {
    position: fixed;
    top: 1px
}

.medium-editor-relative-toolbar {
    position: relative
}

.medium-editor-toolbar-active.medium-editor-stalker-toolbar {
    -webkit-animation: medium-editor-pop-upwards 160ms forwards linear;
    animation: medium-editor-pop-upwards 160ms forwards linear
}

.medium-editor-action-bold {
    font-weight: bolder
}

.medium-editor-action-italic {
    font-style: italic
}

.medium-editor-toolbar-form {
    display: none
}

.medium-editor-toolbar-form a, .medium-editor-toolbar-form input {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}

.medium-editor-toolbar-form .medium-editor-toolbar-form-row {
    line-height: 14px;
    margin-left: 5px;
    padding-bottom: 5px
}

.medium-editor-toolbar-form .medium-editor-toolbar-input, .medium-editor-toolbar-form label {
    border: none;
    box-sizing: border-box;
    font-size: 14px;
    margin: 0;
    padding: 6px;
    width: 316px;
    display: inline-block
}

.medium-editor-toolbar-form .medium-editor-toolbar-input:focus, .medium-editor-toolbar-form label:focus {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    box-shadow: none;
    outline: 0
}

.medium-editor-toolbar-form a {
    display: inline-block;
    font-size: 24px;
    font-weight: bolder;
    margin: 0 10px;
    text-decoration: none
}

.medium-editor-toolbar-form-active {
    display: block
}

.medium-editor-toolbar-actions:after {
    clear: both;
    content: "";
    display: table
}

.medium-editor-element {
    word-wrap: break-word;
    min-height: 30px
}

.medium-editor-element img {
    max-width: 100%
}

.medium-editor-element sub {
    vertical-align: sub
}

.medium-editor-element sup {
    vertical-align: super
}

.medium-editor-hidden {
    display: none
}

.medium-toolbar-arrow-under:after {
    border-color: #428bca transparent transparent;
    top: 60px
}

.medium-toolbar-arrow-over:before {
    border-color: transparent transparent #428bca
}

.medium-editor-toolbar {
    background-color: #428bca;
    border: 1px solid #357ebd;
    border-radius: 4px
}

.medium-editor-toolbar li button {
    background-color: transparent;
    border: none;
    border-right: 1px solid #357ebd;
    box-sizing: border-box;
    color: #fff;
    height: 60px;
    min-width: 60px;
    -webkit-transition: background-color .2s ease-in, color .2s ease-in;
    transition: background-color .2s ease-in, color .2s ease-in
}

.medium-editor-toolbar li .medium-editor-button-active, .medium-editor-toolbar li button:hover {
    background-color: #3276b1;
    color: #fff
}

.medium-editor-toolbar li .medium-editor-button-first {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px
}

.medium-editor-toolbar li .medium-editor-button-last {
    border-bottom-right-radius: 4px;
    border-right: none;
    border-top-right-radius: 4px
}

.medium-editor-toolbar-form {
    background: #428bca;
    border-radius: 4px;
    color: #fff
}

.medium-editor-toolbar-form .medium-editor-toolbar-input {
    background: #428bca;
    color: #fff;
    height: 60px
}

.medium-editor-toolbar-form .medium-editor-toolbar-input::-webkit-input-placeholder {
    color: #fff;
    color: rgba(255, 255, 255, .8)
}

.medium-editor-toolbar-form .medium-editor-toolbar-input:-moz-placeholder {
    color: #fff;
    color: rgba(255, 255, 255, .8)
}

.medium-editor-toolbar-form .medium-editor-toolbar-input::-moz-placeholder {
    color: #fff;
    color: rgba(255, 255, 255, .8)
}

.medium-editor-toolbar-form .medium-editor-toolbar-input:-ms-input-placeholder {
    color: #fff;
    color: rgba(255, 255, 255, .8)
}

.medium-editor-toolbar-form a {
    color: #fff
}

.medium-editor-toolbar-anchor-preview {
    background: #428bca;
    border-radius: 4px;
    color: #fff
}

.medium-editor-placeholder:after {
    color: #357ebd
}

.morris-hover {
    position: absolute;
    z-index: 1000
}

.morris-hover.morris-default-style {
    border-radius: 4px;
    padding: 10px;
    color: #fff;
    background: rgba(0, 0, 0, .8);
    border: 1px solid #e1e8ed;
    border-width: 0;
    font-family: sans-serif;
    font-size: 12px;
    text-align: center
}

.morris-hover.morris-default-style .morris-hover-row-label {
    font-weight: 700;
    margin: .25em 0
}

.morris-hover.morris-default-style .morris-hover-point {
    white-space: nowrap;
    margin: .1em 0
}

.prettyprint {
    background: #1d1f21;
    font-family: Menlo, Bitstream Vera Sans Mono, DejaVu Sans Mono, Monaco, Consolas, monospace;
    border: 0 !important
}

.pln {
    color: #c5c8c6
}

ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #969896
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
    padding-left: 1em;
    background-color: #1d1f21;
    list-style-type: decimal
}

@media screen {
    .str {
        color: #b5bd68
    }

    .kwd {
        color: #b294bb
    }

    .com {
        color: #969896
    }

    .typ {
        color: #81a2be
    }

    .lit {
        color: #de935f
    }

    .clo, .opn, .pun {
        color: #c5c8c6
    }

    .tag {
        color: #c66
    }

    .atn {
        color: #de935f
    }

    .atv {
        color: #8abeb7
    }

    .dec {
        color: #de935f
    }

    .var {
        color: #c66
    }

    .fun {
        color: #81a2be
    }
}

.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
    visibility: visible !important;
    background: #f2f2f2 !important;
    background: rgba(0, 0, 0, .06) !important;
    border: 0 !important;
    -webkit-box-shadow: inset 0 0 12px 4px #fff;
    box-shadow: inset 0 0 12px 4px #fff
}

.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
    content: '!';
    visibility: hidden
}

.selectize-control.plugin-drag_drop .ui-sortable-helper {
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2)
}

.selectize-dropdown-header {
    position: relative;
    padding: 5px 8px;
    border-bottom: 1px solid #d0d0d0;
    background: #f8f8f8;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0
}

.selectize-dropdown-header-close {
    position: absolute;
    right: 8px;
    top: 50%;
    color: #303030;
    opacity: .4;
    margin-top: -12px;
    line-height: 20px;
    font-size: 20px !important
}

.selectize-dropdown-header-close:hover {
    color: #000
}

.selectize-dropdown.plugin-optgroup_columns .optgroup {
    border-right: 1px solid #f2f2f2;
    border-top: 0 none;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.selectize-control.plugin-remove_button [data-value] .remove, .selectize-input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
    border-right: 0 none
}

.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
    display: none
}

.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
    border-top: 0 none
}

.selectize-control.plugin-remove_button [data-value] {
    position: relative;
    padding-right: 24px !important
}

.selectize-control.plugin-remove_button [data-value] .remove {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 17px;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    color: inherit;
    text-decoration: none;
    vertical-align: middle;
    padding: 2px 0 0;
    border-left: 1px solid #d0d0d0;
    -webkit-border-radius: 0 2px 2px 0;
    -moz-border-radius: 0 2px 2px 0;
    border-radius: 0 2px 2px 0;
    box-sizing: border-box
}

.selectize-control.plugin-remove_button [data-value] .remove:hover {
    background: rgba(0, 0, 0, .05)
}

.selectize-control.plugin-remove_button [data-value].active .remove {
    border-left-color: #cacaca
}

.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
    background: 0 0
}

.selectize-control.plugin-remove_button .disabled [data-value] .remove {
    border-left-color: #fff
}

.selectize-control.plugin-remove_button .remove-single {
    position: absolute;
    right: 28px;
    top: 6px;
    font-size: 23px
}

.selectize-control, .selectize-input {
    position: relative
}

.selectize-dropdown, .selectize-input, .selectize-input input {
    color: #303030;
    font-family: inherit;
    font-size: 13px;
    line-height: 18px;
    -webkit-font-smoothing: inherit
}

.selectize-control.single .selectize-input.input-active, .selectize-input {
    background: #fff;
    cursor: text;
    display: inline-block
}

.selectize-input {
    border: 1px solid #e1e8ed;
    padding: 10px 8px;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    box-sizing: border-box;
    border-radius: 3px;
    margin: 0 0 -7px !important
}

.selectize-control.multi .selectize-input.has-items {
    padding: 6px 8px 3px
}

.selectize-input.full {
    background-color: #fff
}

.selectize-input.disabled, .selectize-input.disabled * {
    cursor: default !important
}

.selectize-input.dropdown-active {
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0
}

.selectize-input > * {
    vertical-align: baseline;
    display: -moz-inline-stack;
    display: inline-block;
    zoom: 1
}

.selectize-control.multi .selectize-input > div {
    cursor: pointer;
    margin: 0 3px 3px 0;
    padding: 4px 6px;
    border: 0 solid #4a89dc;
    border-radius: 2px;
    background-color: rgba(219, 232, 248, .6);
    color: #2465bb
}

.selectize-control.multi .selectize-input > div.active {
    background-color: rgba(219, 232, 248, 1);
    color: #2465bb;
    border: 0 solid #276ecc
}

.selectize-control.multi .selectize-input.disabled > div, .selectize-control.multi .selectize-input.disabled > div.active {
    color: #7d7d7d;
    background: #fff;
    border: 0 solid #fff
}

.selectize-input > input {
    display: inline-block !important;
    padding: 0 !important;
    min-height: 0 !important;
    max-height: none !important;
    max-width: 100% !important;
    margin: 0 2px 0 0 !important;
    text-indent: 0 !important;
    border: 0 !important;
    background: 0 0 !important;
    line-height: inherit !important;
    -webkit-user-select: auto !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important
}

.selectize-input > input::-ms-clear {
    display: none
}

.selectize-input > input:focus {
    outline: 0 !important
}

.selectize-input::after {
    content: ' ';
    display: block;
    clear: left
}

.selectize-input.dropdown-active::before {
    content: ' ';
    display: block;
    position: absolute;
    background: #f0f0f0;
    height: 1px;
    bottom: 0;
    left: 0;
    right: 0
}

.selectize-dropdown {
    position: absolute;
    z-index: 10;
    border: 1px solid #e1e8ed;
    background: #fff;
    margin: 5px 0 0;
    border-top: 0 none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px
}

.selectize-dropdown [data-selectable] {
    cursor: pointer;
    overflow: hidden
}

.selectize-dropdown [data-selectable] .highlight {
    background: rgba(125, 168, 208, .2);
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px
}

.selectize-dropdown .optgroup-header, .selectize-dropdown [data-selectable] {
    padding: 5px 8px
}

.selectize-dropdown .optgroup:first-child .optgroup-header {
    border-top: 0 none
}

.selectize-dropdown .optgroup-header {
    background: #fff;
    cursor: default;
    font-size: 11px;
    letter-spacing: 1.5px;
    color: #999;
    text-transform: uppercase;
    font-weight: 700
}

.selectize-dropdown .optgroup-header .scientific {
    color: #ccc;
    letter-spacing: 1px;
    text-transform: none;
    font-weight: 400 !important
}

.selectize-dropdown .active {
    background-color: rgba(219, 232, 248, .25);
    color: #2465bb
}

.selectize-dropdown .active.create {
    color: #2465bb
}

.selectize-dropdown .create {
    color: rgba(48, 48, 48, .5)
}

.selectize-dropdown-content {
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 200px;
    -webkit-overflow-scrolling: touch
}

.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
    cursor: pointer
}

.selectize-control.single .selectize-input.input-active, .selectize-control.single .selectize-input.input-active input {
    cursor: text
}

.selectize-control.single .selectize-input:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    margin-top: -3px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: grey transparent transparent
}

.selectize-control.single .selectize-input.dropdown-active:after {
    margin-top: -4px;
    border-width: 0 5px 5px;
    border-color: transparent transparent grey
}

.selectize-control.rtl.single .selectize-input:after {
    left: 15px;
    right: auto
}

.selectize-control.rtl .selectize-input > input {
    margin: 0 4px 0 -2px !important
}

.selectize-control .selectize-input.disabled {
    opacity: .5;
    background-color: #fafafa
}

.selectize-control.contacts .selectize-input > div .email {
    opacity: .6
}

.selectize-control.contacts .selectize-input > div .name + .email {
    margin-left: 5px
}

.selectize-control.contacts .selectize-input > div .email:before {
    content: '<'
}

.selectize-control.contacts .selectize-input > div .email:after {
    content: '>'
}

.selectize-control.contacts .selectize-dropdown .caption {
    font-size: 12px;
    display: block;
    color: #a0a0a0
}

.selectize-control.contacts .selectize-dropdown .label {
    color: #303030;
    padding: 0;
    font-size: 14px;
    font-weight: 400
}

table[data-sortable] {
    border-collapse: collapse;
    border-spacing: 0
}

table[data-sortable] th {
    vertical-align: bottom;
    font-weight: 700
}

table[data-sortable] td, table[data-sortable] th {
    text-align: left;
    padding: 10px
}

table[data-sortable] th:not([data-sortable=false]) {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    cursor: pointer
}

table[data-sortable] th:after {
    content: "";
    visibility: hidden;
    display: inline-block;
    vertical-align: inherit;
    height: 0;
    width: 0;
    border-width: 5px;
    border-style: solid;
    border-color: transparent;
    margin-right: 1px;
    margin-left: 10px;
    float: right
}

table[data-sortable] th[data-sorted=true]:after {
    visibility: visible
}

table[data-sortable] th[data-sorted-direction=descending]:after {
    border-top-color: inherit;
    margin-top: 8px
}

table[data-sortable] th[data-sorted-direction=ascending]:after {
    border-bottom-color: inherit;
    margin-top: 3px
}

table[data-sortable].sortable-theme-bootstrap {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    background: #fff
}

table[data-sortable].sortable-theme-bootstrap thead th {
    border-bottom: 2px solid #e0e0e0
}

table[data-sortable].sortable-theme-bootstrap tbody td {
    border-top: 1px solid #e0e0e0
}

table[data-sortable].sortable-theme-bootstrap th[data-sorted=true] {
    color: #3a87ad;
    background: #d9edf7;
    border-bottom-color: #bce8f1
}

table[data-sortable].sortable-theme-bootstrap th[data-sorted=true][data-sorted-direction=descending]:after {
    border-top-color: #3a87ad
}

table[data-sortable].sortable-theme-bootstrap th[data-sorted=true][data-sorted-direction=ascending]:after {
    border-bottom-color: #3a87ad
}

table[data-sortable].sortable-theme-bootstrap.sortable-theme-bootstrap-striped tbody > tr:nth-child(odd) > td {
    background-color: #f9f9f9
}

.stepy-header {
    list-style: none;
    padding: 0;
    text-align: center;
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 40px
}

.stepy-header li {
    cursor: pointer;
    display: table-cell;
    position: relative
}

.stepy-header li div {
    width: 44px;
    height: 44px;
    background: #fff;
    margin: 0 auto;
    border-radius: 50%;
    position: absolute;
    left: 3px;
    top: 3px;
    z-index: 2;
    line-height: 44px;
    font-weight: 700;
    -webkit-box-shadow: 0 0 0 3px #f2f2f2;
    -moz-box-shadow: 0 0 0 3px #f2f2f2;
    box-shadow: 0 0 0 3px #f2f2f2
}

.stepy-header li span {
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    text-align: left;
    padding-left: 60px;
    background: #f2f2f2;
    display: block;
    position: relative;
    border-radius: 25px 0 0 25px
}

.stepy-header li:last-child span {
    border-radius: 25px
}

.stepy-header li:not(:last-child) span:after {
    position: absolute;
    width: 25px;
    height: 50px;
    content: "";
    left: 100%;
    top: 0;
    background: #f2f2f2
}

.stepy-header li:not(:first-child) span:before {
    position: absolute;
    width: 28px;
    height: 56px;
    border-radius: 28px 0 0 28px;
    content: "";
    left: -3px;
    top: -3px;
    background: #fff
}

.stepy-header li.stepy-active span, .stepy-header li.stepy-active:not(:last-child) span:after {
    background: #4a89dc
}

.stepy-header li.stepy-active div {
    cursor: auto;
    -webkit-box-shadow: 0 0 0 3px #4a89dc;
    -moz-box-shadow: 0 0 0 3px #4a89dc;
    box-shadow: 0 0 0 3px #4a89dc;
    background: #fff;
    color: #4a89dc;
    font-size: 14px
}

.stepy-header li.stepy-active ~ li div {
    background-color: #fff;
    color: #f2f2f2;
    font-size: 14px
}

.stepy-header li.stepy-active div:after, .stepy-header li.stepy-active ~ li div:after {
    display: none
}

.stepy-header li.stepy-active ~ li span {
    background-color: #f2f2f2;
    color: #fff;
    font-weight: 400
}

.stepy-header li div {
    background-color: #4a89dc;
    color: #fff;
    font-size: 0
}

.stepy-header li div:after {
    position: absolute;
    width: 44px;
    height: 44px;
    z-index: 2;
    content: "\f00c";
    border-radius: 17px;
    font-family: FontAwesome;
    top: 0;
    left: 0;
    display: block;
    font-size: 14px
}

.stepy-header li span {
    color: #555;
    font-weight: 500
}

.stepy-header li.stepy-active span {
    color: #fff
}

.stepy-step {
    clear: left
}

.stepy-navigator:after, .stepy-navigator:before {
    display: table;
    content: " "
}

.stepy-navigator:after {
    clear: both
}

.stepy-navigator {
    border-top: 1px solid #e1e8ed;
    margin: 30px 0 0;
    padding-top: 20px
}

.button-back {
    float: left
}

.button-next, .stepy-finish, .stepy-navigator button[type=submit] {
    float: right
}

@media (max-width: 600px) {
    .stepy-header li div {
        left: 50%;
        margin-left: -22px
    }

    .stepy-header li span:after, .stepy-header li span:before {
        display: none
    }

    .stepy-header li span {
        padding: 0;
        display: inline-block;
        margin-top: 60px;
        height: auto;
        line-height: 1.2;
        background: 0 0 !important;
        color: #999 !important
    }
}

@media (max-width: 480px) {
    .stepy-header li span {
        font-size: 0;
        visibility: hidden;
        margin-top: 44px
    }
}

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.pace-inactive {
    display: none
}

.pace .pace-progress {
    background: #81c784;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 2px
}

.pace .pace-progress-inner {
    display: block;
    position: absolute;
    right: 0;
    width: 100px;
    height: 100%;
    box-shadow: 0 0 10px #81c784, 0 0 5px #81c784;
    opacity: 1;
    -webkit-transform: rotate(3deg) translate(0, -4px);
    -moz-transform: rotate(3deg) translate(0, -4px);
    -ms-transform: rotate(3deg) translate(0, -4px);
    -o-transform: rotate(3deg) translate(0, -4px);
    transform: rotate(3deg) translate(0, -4px)
}

.pace .pace-activity {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 15px;
    right: 15px;
    width: 14px;
    height: 14px;
    border: 2px solid transparent;
    border-top-color: #81c784;
    border-left-color: #81c784;
    border-radius: 10px;
    -webkit-animation: pace-spinner .4s linear infinite;
    -moz-animation: pace-spinner .4s linear infinite;
    -ms-animation: pace-spinner .4s linear infinite;
    -o-animation: pace-spinner .4s linear infinite;
    animation: pace-spinner .4s linear infinite
}

@-webkit-keyframes pace-spinner {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-moz-keyframes pace-spinner {
    0% {
        -moz-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-o-keyframes pace-spinner {
    0% {
        -o-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -o-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-ms-keyframes pace-spinner {
    0% {
        -ms-transform: rotate(0);
        transform: rotate(0)
    }
    100% {
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes pace-spinner {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}