#ui-datepicker-div {
    background: #f9f9f9;
    z-index: 9999 !important;
    border: 1px solid #e1e8ed;
}

#ui-datepicker-div table {
    margin: 10px;
}

.ui-datepicker-calendar a {
    padding: 5px;
    color: #000;
}

.ui-datepicker-calendar a:hover {
    color: #6c6c6c;
}

.ui-datepicker-calendar td {
    padding: 10px 5px;
}

.ui-datepicker-calendar .ui-state-disabled {
    color: #5c5c5c; /*CAMBIO*/
}

.ui-datepicker-calendar th {
    color: #000000;
    padding: 7px;
}

.ui-datepicker-header {
    margin: 10px;
}

.ui-datepicker-header .ui-datepicker-title {
    color: #000;
    text-align: center;
}

.ui-datepicker-header a {
    color: #000;
    cursor: pointer;
}

.ui-datepicker-header a:hover {
    color: #636363;
}

.ui-spinner-up i {
    color: #BEC4C8;
    float: right;
    margin-top: -27px;
    margin-right: 10px;
    z-index: 99999;
}

.ui-spinner-down i {
    color: #BEC4C8;
    float: left;
    margin-top: -27px;
    margin-left: 10px;
    z-index: 99999;
}

.quantity-padding {
    padding-left: 40px !important;
}

.ui-datepicker-prev {
    float: left;
}

.ui-datepicker-next {
    float: right;
}

.custom-select-button {
    background: transparent none repeat scroll 0 0;
    border: 1px solid #BEC4C8;
    border-radius: 0;
    height: 40px;
}