<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="sales">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/web-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/webapp" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/java"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src/main/resources"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/target/generated-sources/annotations"/>
        <dependent-module archiveName="certus-core-1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/certus-core/certus-core">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="certus-commons-1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/certus-commons/certus-commons">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="certus-bd-1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/certus-bd/certus-bd">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="certus-soa-client-1.0.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/certus-soa-client/certus-soa-client">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="context-root" value="sales"/>
        <property name="java-output-path" value="/certus-web/target/classes"/>
    </wb-module>
</project-modules>
